* {
margin: 0px;
padding: 0px;

}

.msg-background {
background-image: url('https://wallpapercave.com/wp/wp4811387.jpg'); /* set the image background */
background-repeat: no-repeat; /* make the image don't repeat itself */
background-size: 100% 100%; /* set the background position */
background-attachment: fixed; /* set the background to fixed */
position: relative; /*set the postion of the image */
height: 800px; /*set the height of the image */
z-index: -1;

    
}

.background {
background-image: url('https://wallpapercave.com/wp/wp4952126.jpg'); /* set the image for text */
background-repeat: no-repeat; /* make the image don't repeat itself */
background-size:contain; /* set the background size */
background-position: center center; /* set the background position */
background-attachment: fixed; /* set the background to fixed */


}

@keyframes heading {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: red;
    }
  }
  .heading {
    animation: heading 1s infinite;
  }

.heading {
font-size: 35px; /* set font size of the text */
font-family: Courier; /* font face of the text */
font-weight:300px; /* thickness of the text */ 
text-align:center; /* set the text to center */
padding: 30px 30px 20px;
position: absolute;
right: 5px;

}

.greetings {
position: absolute;
color:#333;
font-size: 25px; /* set the font size of the text*/
font-family: Cursive; /* set the font face of the text */
font-weight:250px; /* thickness of the text */
color:rgb(1, 22, 6); /* color of the text */
text-align:justify; /* alingment of the text */
top: 190px;
right: 55%;
z-index: 1;
padding: 0x 30px 20px;

}

.box {
border-style: solid;
border-color: pink;
border-width: 5px;
background-blend-mode: overlay;
background-color: rgb(175, 187, 8);
width: 60%;
position: absolute;
top: 20%;
left: 8%;
height: 60%;
z-index: 0;
padding: 30px 30px 20px;
}


.message {
margin-inline-start: 55px;
font-weight: bolder;
font-size: 14px; /* set the font size of the text */   
font-family: cursive; /* set the font face of the text */
text-align:center; /* alignment of the text */
padding: 30px 25px 20px;
position:absolute;
right: 20%;
top: 25%;
line-height: 40px;

}
.sign {
padding: 30px 30px 20px;
position: absolute;
left: 60%;
text-decoration-line: underline;


}

@media only screen and (min-width: 375px) { /* For smaller screen */

  .greetings {
    position: absolute;
    color:#333;
    font-size: 25px; /* set the font size of the text*/
    font-family:cursive; /* set the font face of the text */
    font-weight:250px; /* thickness of the text */
    color:rgb(1, 22, 6); /* color of the text */
    text-align:justify; /* alingment of the text */
    top: 190px;
    right: 55%;
    z-index: 1;
    padding: 0x 30px 20px;
    
    }

}

@media only screen and (min-width: 414px) {

  .msg-background {
    background-image: url('https://wallpapercave.com/wp/wp4811387.jpg'); /* set the image background */
    background-repeat: no-repeat; /* make the image don't repeat itself */
    background-size: 100% 100%; /* set the background position */
    background-attachment: fixed; /* set the background to fixed */
    position: relative; /*set the postion of the image */
    height: 900px; /*set the height of the image */
    z-index: -1;
  
  }

  .heading {
    font-size: 35px; /* set font size of the text */
    font-family: Courier; /* font face of the text */
    font-weight:300px; /* thickness of the text */ 
    text-align:center; /* set the text to center */
    padding: 50px 30px 20px;
    position: absolute;
    right: 20px;
    
    }

    

}

@media only screen and (min-width: 390px) {

  .msg-background {
    background-image: url('https://wallpapercave.com/wp/wp4811387.jpg'); /* set the image background */
    background-repeat: no-repeat; /* make the image don't repeat itself */
    background-size: 100% 100%; /* set the background position */
    background-attachment: fixed; /* set the background to fixed */
    position: relative; /*set the postion of the image */
    height: 900px; /*set the height of the image */
    z-index: -1;

  }

  .heading {
    font-size: 35px; /* set font size of the text */
    font-family: Courier; /* font face of the text */
    font-weight:300px; /* thickness of the text */ 
    text-align:center; /* set the text to center */
    padding: 30px 40px 20px;
    position: absolute;
    right: 15px;

  }

}

@media only screen and (min-width: 360px) {

  .box {
    border-style:outset;
    border-width: 5px;
    background-blend-mode: overlay;
    background-color: rgb(175, 187, 8);
    width: 60%;
    position: absolute;
    top: 20%;
    left: 10%;
    height: 60%;
    z-index: 0;
    padding: 30px 30px 20px;
    }
  

  .greetings {
    position: absolute;
    color:#333;
    font-size: 25px; /* set the font size of the text*/
    font-family:cursive; /* set the font face of the text */
    text-align:justify; /* alingment of the text */
    top: 185px;
    right: 50%;
    z-index: 1;
    padding: 0x 30px 20px;
    
    }
  
    .message {
      margin-inline-start: 55px;
      font-weight: bolder;
      font-size: 16px; /* set the font size of the text */   
      font-family: cursive; /* set the font face of the text */
      text-align:center; /* alignment of the text */
      padding: 30px 25px 20px;
      position:absolute;
      right: 20%;
      top: 25%;
      line-height: 30px;

    }




  }

  @media only screen and (min-width: 412px) {

    .msg-background {
      background-image: url('https://wallpapercave.com/wp/wp4811387.jpg'); /* set the image background */
      background-repeat: no-repeat; /* make the image don't repeat itself */
      background-size: 100% 100%; /* set the background position */
      background-attachment: fixed; /* set the background to fixed */
      position: relative; /*set the postion of the image */
      height: 950px; /*set the height of the image */
      z-index: -1;
  
    }

    .heading {
      font-size: 35px; /* set font size of the text */
      font-family: Courier; /* font face of the text */
      font-weight:300px; /* thickness of the text */ 
      text-align:center; /* set the text to center */
      padding: 60px 40px 20px;
      position: absolute;
      right: 15px;
  
    }

    .greetings {
      position: absolute;
      color:#333;
      font-size: 25px; /* set the font size of the text*/
      font-family:cursive; /* set the font face of the text */
      text-align:justify; /* alingment of the text */
      top: 220px;
      right: 55%;
      z-index: 1;
      padding: 0x 30px 20px;
      
      }

      .message {
        margin-inline-start: 55px;
        font-weight: bolder;
        font-size: 16px; /* set the font size of the text */   
        font-family: cursive; /* set the font face of the text */
        text-align:center; /* alignment of the text */
        padding: 30px 25px 20px;
        position:absolute;
        right: 20%;
        top: 25%;
        line-height: 40px;
  
      }

  }

  @media only screen and (min-width: 768px) {

    .msg-background {
      background-image: url('https://wallpapercave.com/wp/wp4811387.jpg'); /* set the image background */
      background-repeat: no-repeat; /* make the image don't repeat itself */
      background-size: 100% 100%; /* set the background position */
      background-attachment: fixed; /* set the background to fixed */
      position: relative; /*set the postion of the image */
      height: 1100px; /*set the height of the image */
      z-index: -1;
  
    }

    .heading {
      font-size: 45px; /* set font size of the text */
      font-family: Courier; /* font face of the text */
      font-weight:300px; /* thickness of the text */ 
      text-align:center; /* set the text to center */
      padding: 50px 30px 20px;
      position: absolute;
      right: 150px;
        }
     
    .box {
    
    border-style:outset;
    border-width: 5px;
    background-blend-mode: overlay;
    background-color: rgb(175, 187, 8);
    width: 60%;
    position: absolute;
    top: 15%;
    left: 15%;
    height: 60%;
    z-index: 0;
    padding: 30px 30px 20px;

        }
  
        .greetings {
          position: absolute;
          color:#333;
          font-size: 35px; /* set the font size of the text*/
          font-family: Cursive; /* set the font face of the text */
          font-weight:250px; /* thickness of the text */
          color:rgb(1, 22, 6); /* color of the text */
          text-align:justify; /* alingment of the text */
          top: 190px;
          right: 59%;
          z-index: 1;
          padding: 0x 30px 20px;
          
          }

          .message {
            margin-inline-start: 55px;
            font-weight: bolder;
            font-size: 30px; /* set the font size of the text */   
            font-family: cursive; /* set the font face of the text */
            text-align: center; /* alignment of the text */
            padding: 50px 90px 20px;
            position:absolute;
            right: 10%;
            top: 25%;
            line-height: 40px;

          }
 
  }

  @media only screen and (min-width: 912px) {

    .msg-background {
      background-image: url('https://wallpapercave.com/wp/wp4811387.jpg'); /* set the image background */
      background-repeat: no-repeat; /* make the image don't repeat itself */
      background-size: 100% 100%; /* set the background position */
      background-attachment: fixed; /* set the background to fixed */
      position: relative; /*set the postion of the image */
      height: 1550px; /*set the height of the image */
      z-index: -1;
  
    }

    .heading {
      font-size: 60px; /* set font size of the text */
      font-family: Courier; /* font face of the text */
      font-weight:300px; /* thickness of the text */ 
      text-align:center; /* set the text to center */
      padding: 50px 30px 20px;
      position: absolute;
      right: 150px;
        }

        .greetings {
          position: absolute;
          color:#333;
          font-size: 45px; /* set the font size of the text*/
          font-family: Cursive; /* set the font face of the text */
          font-weight:250px; /* thickness of the text */
          color:rgb(1, 22, 6); /* color of the text */
          text-align:justify; /* alingment of the text */
          top: 300px;
          right: 55%;
          z-index: 1;
          padding: 0x 30px 20px;
          
          }

          .message {
            margin-inline-start: 55px;
            font-weight: bolder;
            font-size: 40px; /* set the font size of the text */   
            font-family: cursive; /* set the font face of the text */
            text-align: center; /* alignment of the text */
            padding: 50px 90px 20px;
            position:absolute;
            right: 10%;
            top: 25%;
            line-height: 60px;

          }

  }

  @media only screen and (min-width: 520px) {

    .heading {
      font-size: 40px; /* set font size of the text */
      font-family: Courier; /* font face of the text */
      font-weight:300px; /* thickness of the text */ 
      text-align:center; /* set the text to center */
      padding: 60px 30px 20px;
      position: absolute;
      right: 53px;
      
      }

      .box {
        border-style:outset;
        border-width: 5px;
        background-blend-mode: overlay;
        background-color: rgb(175, 187, 8);
        width: 60%;
        position: absolute;
        top: 20%;
        left: 14%;
        height: 60%;
        z-index: 0;
        padding: 30px 30px 20px;
        }

        .greetings {
          position: absolute;
          color:#333;
          font-size: 25px; /* set the font size of the text*/
          font-family: Cursive; /* set the font face of the text */
          font-weight:250px; /* thickness of the text */
          color:rgb(1, 22, 6); /* color of the text */
          text-align:justify; /* alingment of the text */
          top: 235px;
          right: 55%;
          z-index: 1;
          padding: 0x 30px 20px;
          
        }
  
        .message {
          margin-inline-start: 55px;
          font-weight: bolder;
          font-size: 16px; /* set the font size of the text */   
          font-family: cursive; /* set the font face of the text */
          text-align:center; /* alignment of the text */
          padding: 30px 40px 20px;
          position:absolute;
          right: 15%;
          top: 29%;
          line-height: 53px;
          
          }
      
        }
